* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 60px;/* To account for fixed navbar */
  background-color:black;
}

section {
  padding: 4rem 0;
}